// M88M Windows Resource File
#include <windows.h>

// ID for the icon and font resource
#define IDI_ICON1         1
#define IDR_FONT_NOTOSANS 101

// App Icon
IDI_ICON1 ICON "../../assets/AppIcon.ico"

// Embed the font as a custom user-defined resource type "FONT"
// Path is relative to this .rc file (src/raylib/m88m.rc)
IDR_FONT_NOTOSANS FONT "../../assets/NotoSansJP-Regular.ttf"
